<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativeoffice.bgsbranda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SiparisTurleriActivity.PergoleActivity"></activity>
        <activity android:name=".Activity.MontajActivity" />
        <activity android:name=".Activity.UretimActivity" />
        <activity android:name=".Activity.TeklifActivity" />
        <activity android:name=".SiparisTurleriActivity.KorukluTenteActivity" />
        <activity android:name=".SiparisTurleriActivity.MafsalliTenteActivity" />
        <activity android:name=".Activity.MusterilerActivity" />
        <activity android:name=".Activity.SiparislerActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>