<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativeoffice.bgsbranda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="BGS Reklam"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MontajTamamlananActivity"></activity>
        <activity android:name=".SiparisTurleriActivity.TamirActivity" />
        <activity android:name=".SiparisTurleriActivity.DigerActivity" />
        <activity android:name=".SiparisTurleriActivity.WintentActivity" />
        <activity android:name=".SiparisTurleriActivity.SeffafTenteActivity" />
        <activity android:name=".SiparisTurleriActivity.KarpuzTenteActivity" />
        <activity android:name=".SiparisTurleriActivity.SemsiyeActivity" />
        <activity android:name=".SiparisTurleriActivity.PergoleActivity" />
        <activity android:name=".Activity.MontajActivity" />
        <activity android:name=".Activity.UretimActivity" />
        <activity android:name=".Activity.TeklifActivity" />
        <activity android:name=".SiparisTurleriActivity.KorukluTenteActivity" />
        <activity android:name=".SiparisTurleriActivity.MafsalliTenteActivity" />
        <activity android:name=".Activity.MusterilerActivity" />
        <activity android:name=".Activity.SiparislerActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>